<li class="collection-item">
  Repository: <%= link_to repository[:name], "https://github.com/#{repository[:full_name]}" %>
  Pull Requests: <%= link_to "Pull Requests", {controller: "pull_requests", action: "index", repository_owner: "#{repository[:owner][:login]}", repository_name: "#{repository[:name]}"} %>
</li>
