<div class="container-fluid center-align">
  <h3>Repositories:</h3>
  <ul class="collection">
    <%= render partial: "repositories_item", collection: (@presenter.repositories(@current_user.nickname)), as: :repository %>
  </ul>
</div>
