/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  background-color: #2B4E72;
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3 {
  color: #94BA65;
}

.btn {
  background-color: #2790B0;
}

.homepage-content {
  padding-top: 125px;
}

.fixed-action-btn {
  position: relative !important;
}

#profile_picture {
  height: 200px;
  width: 200px;
}

#bottom_right_image {
  position: fixed;
  right: 0px;
  bottom: 0px;
  opacity: 0;
}

#top_left_image {
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0;
}

#top_image {
  position: fixed;
  top: -15px;
  left: 0px;
  opacity: 0;
}

#bottom_image {
  position: fixed;
  bottom: -5px;
  left: 0px;
  opacity: 0;
}

#repositories_list {
  width: 33%;
  margin: auto;
}

#my_commits_list {
  width: 45%;
  margin: auto;
}

#follower_commits_list {
  width: 45%;
  margin: auto;
}

#organizations_list {
  width: 33%;
  margin: auto;
}

#pull_requests_list {
  width: 45%;
  margin: auto;
}

#dashboard_link {
  position: fixed;
  right: 1%;
  top: 2%;
  opacity: 0;
}
