<div class="container-fluid center-align">
  <h3>Organizations:</h3>
  <ul class="collection">
    <%= render partial: "organizations_item", collection: (@presenter.organizations(@current_user.nickname)), as: :organization %>
  </ul>
</div>
